:root {
    --clock-size: 300px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #333333;
}

.clock-container {
    position: relative;

    width: var(--clock-size);
    height: var(--clock-size);
    margin: 50px auto;
    display: block;
}

.clock {
    width: 100%;
    height: 100%;
}

.clock-face {
    fill: white;
    stroke: black;
    stroke-width: 2;
}

.hour-mark {
    stroke: black;
    stroke-width: 4;
}

.five-minute-mark {
    stroke: black;
    stroke-width: 2;
}

.hand {
    transform-origin: 50% 50%;
    transition: transform 0.5s cubic-bezier(0.4, 2.3, 0.3, 1);
}

#hour-hand-group {
    transform-origin: 50% 50%;
}

.hour-hand {
    stroke: black;
    stroke-width: 4;
}

#minute-hand-group {
    transform-origin: 50% 50%;
}

.minute-hand {
    stroke: #333333;
    stroke-width: 4;
}

.minute-hand-triangle{

}

#second-hand-group {
    transform-origin: 50% 50%;
}

.second-hand {
    stroke: #aa0101;
    stroke-width: 2;
}

#second-hand-circle {
    fill: white;  /* Inner fill of the circle (hollowed out) */
    stroke: #aa0101;  /* Border color of the circle */
    stroke-width: 2.5;
}

#second-hand-tip {
    fill: white;  /* Inner fill of the circle (hollowed out) */
    stroke: #aa0101;  /* Border color of the circle */
    stroke-width: 1;
}

.center-dot {
    fill: black;
}

.digital-clock{
    margin-top: 20px;
    color:#66cd00;
    font-family:Arial;
    font-size:25px;
    text-align: center;
}


/*秒表*/
.stopwatch {
    margin-top: 20px;
    text-align: center;
    color:white;
}

.stopwatch-display {
    font-size: 30px;
    margin-bottom: 10px;
}

.stopwatch-buttons button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
}
