* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #333333;
    position: relative;
}

h1 {
    color: white;
    margin-bottom: 25px;
}

.clock {
    width: 300px;
    height: 300px;
}

.clock-face {
    fill: white;
    stroke: black;
    stroke-width: 2;
}

.hour-mark {
    stroke: black;
    stroke-width: 4;
}

.five-minute-mark {
    stroke: black;
    stroke-width: 2;
}

/* .hand {
    transform-origin: 50% 50%;
    transition: none;
} */

#hour-hand-group {
    transform-origin: 50% 50%;
}

.hour-hand {
    stroke: black;
    stroke-width: 4;
}

#minute-hand-group {
    transform-origin: 50% 50%;
}

.minute-hand {
    stroke: #333333;
    stroke-width: 4;
}

#second-hand-group {
    transform-origin: 50% 50%;
}

.second-hand {
    stroke: #aa0101;
    stroke-width: 2;
}

#second-hand-circle {
    fill: white;
    /* Inner fill of the circle (hollowed out) */
    stroke: #aa0101;
    /* Border color of the circle */
    stroke-width: 2.5;
}

#second-hand-tip {
    /* fill: white; */
    /* Inner fill of the circle (hollowed out) */
    /* stroke: #aa0101; */
    /* Border color of the circle */
    stroke-width: 1;
}

.digital-clock {
    margin-top: 20px;
    color: #66cd00;
    font-family: Arial;
    font-size: 25px;
    text-align: center;
}

/*秒表*/
.stopwatch {
    margin-top: 20px;
    text-align: center;
    color: white;
}

.stopwatch-display {
    font-size: 30px;
    margin-bottom: 10px;
}

.stopwatch-buttons button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
}

/*通过输入来调整时间*/
#input {
    display: flex;
    margin: 50px 0 50px 0;
}

#input>* {
    margin: 0 10px;
}

#input>label {
    color: white;
}

#input>input {
    width: 50px;
}

#input>#set_alarm,
#input>#stop_alarm,
#input>#stop_play {
    width: 70px;
    font-size: 12px;
    cursor: pointer;
}

#input>#sync {
    width: 90px;
    font-size: 12px;
    cursor: pointer;
}

#alarm-list {
    list-style: none;
    padding: 0;
    color: #fff;
}

#alarm-list li {
    padding: 5px;
    margin-top: 5px;
    background-color: #444;
    color: white;
}
